body {
  background-image: url("/home/n1ls/Dokumente/DevHaus/battleships/Battleships/src/1486722.jpg");
  background-size: cover;
}

:root {
  --destroyer-color: #236b8c;
  --submarine-color: #1b175e;
  --cruiser-color: #548791;
  --battleship-color: #549188;
  --carrier-color: #3b6660;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid {
  background-color: hsl(200, 100%, 50%);
  display: grid;
  margin: 2vmin;
  width: 46vmin;
  height: 46vmin;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid > div {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ships {
  display: flex;
  background-color: lightgray;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
}

.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.destroyer-container {
  background-color: var(--destroyer-color);
  --width: 2;
}

.submarine-container {
  background-color: var(--submarine-color);
  --width: 3;
}

.cruiser-container {
  background-color: var(--cruiser-color);
  --width: 3;
}

.battleship-container {
  background-color: var(--battleship-color);
  --width: 4;
}

.carrier-container {
  background-color: var(--carrier-color);
  --width: 5;
}

/*  */
/*  */

.destroyer-container-vertical {
  --width: 1;
  --height: 2;
}
.submarine-container-vertical {
  --width: 1;
  --height: 3;
}
.cruiser-container-vertical {
  --width: 1;
  --height: 3;
}
.battleship-container-vertical {
  --width: 1;
  --height: 4;
}
.carrier-container-vertical {
  --width: 1;
  --height: 5;
}

.button-row {
  gap: 2vmin;
  margin-block: 2rem;
}

.button-row > button {
  padding: 0.6rem;
}
